@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-[10px] md:text-[12px] lg:text-[14px]
    }
}

@layer utilities {
    .bg{
        background-color: #f1f5f9;
        background-image:
                linear-gradient(#eee .1em, transparent .1em);
        background-size: 100% 1.2em;
    }

    .bg-line {
        background-image:
                linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                linear-gradient(#e5e7eb .1em, transparent .1em);
    }

    .clip-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
    }

    .clip-show {
        position: absolute;
        clip: rect(auto auto auto auto);
    }
}

@layer components {
    .menu {
        border-top: double 9px #ffffff;
        border-bottom: solid 3px #ffffff;
        height: 3px;
        width: 18px;  /* 设置小图标的大小 */
    }
}
